<div id="display" style="display: none; text-align: center;"> display me</div>


<div class="panel">
  <h1 style="text-align: center;"><span>Hello Honey!</span> <img src="../assets/honey.png" height="60px;" style=" vertical-align: middle ; margin-left: 5px;">  </h1>

  <p>Are you free Feb 14th 2024?</p>
  <div style="display: flex; justify-content: space-between;">
    <button (click)="sendYes()">Yes</button>
    <button id="NoBtn" (mouseenter)="handleHover()" (click)="displayText()">No</button>
  </div>

</div>

